.cute-font {
  font-family: 'Righteous', cursive;
}

.titles {
  background: rgba(255, 237, 181, 0.822);
  border-radius: 2em;
}

.titles h2 {
  font-size: 300%;
}

#navwide {
  /* background: #FFFFD3; */
  background: white;
  height: 100vh;
}

nav a span {
  font-size: 130%;
  vertical-align: middle;
}

.navitem {
  padding: 1em;
}

.navitem * {
  pointer-events: none;
}

.item-img {
  margin: 0;
  width: 100%;
}

.item {
  text-align: center;
  margin-left: -90px;
}

a:hover {
  color: #9166A9;
}

.navitem:not(:first-child) {
  border-top: 3px solid #9166A9;
}

.navitem img {
  margin: 1.2em 0;
}

#contents {
  background: #FFFFD3;
  overflow: auto;
  height: 100vh;
  background-image: url(../img/d.jpg);
  background-position: center;
  background-size: cover;
}

#about {
  height: 100vh;
}


#desc {
  color: #98402F;
  background: #FFFFD3;
  padding: 2em;
  border-radius: 1em;
}

#about ul {
  text-align: center;
  margin-top: 4em;
}

#about ul li {
  display: inline-block;
  margin: 0 2em;
  background: #F9C65B;
  padding: 0.5em;
}

#about h1 {
  color: white;
  margin: 2em 0;
}

#skill-set img {
  width: 100%;
}






#contact form label {
  color: white;
}

footer {
  width: 100%;
  background: white;
  padding: 0.5em 0;
}