#navwide {
  background: #9166A9;
  height: 100vh;
}

nav a span {
  font-size: 130%;
  vertical-align: middle;
  font-family: 'Righteous', cursive;
}

.navitem {
  padding: 1em;
}

.navitem * {
  pointer-events: none;
}

.item-img {
  margin: 0;
  width: 100%;
}

.item {
  text-align: center;
  margin-left: -90px;
  font-family: 'Righteous', cursive;
}

a:hover {
  color: white;
}

.navitem:not(:first-child) {
  border-top: 3px solid white;
}

.navitem img {
  margin: 1.2em 0;
}

#contents {
  overflow: auto;
  height: 100vh;
}

#contents h1, #contents h2 {
  font-family: 'Righteous', cursive;
}

#contents h2 {
  border-bottom: 3px solid #9166A9;
  font-size: 400%;
}

#about {
  height: 100vh;
  padding: 10vh 0;
}

#about h1 {
  font-size: 500%;
  color: #9166A9;
}

#desc {
  margin: 4em 0;
  padding: 0.5em;
}

#about ul li {
  display: inline-block;
  background: #9166A9;
  border-radius: 2em;
  padding: 0.3em 1em;
  color: white;
  margin: 0 0.5em;
}

#skills img {
  width: 100%;
}

#skill-set .devicon {
  width: 100%;
}

#projects, #skills, #contact {
  margin: 0 5em;
}

#contact {
  height: 100vh;
}

#contact form button {
  background: #9166A9;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

#contact form {
  margin: 2em 0;
}

#sns {
  padding: 3em 0;
}

#sns .fa-linkedin, .fa-github-square {
   font-size: 3em;
   color: #9166A9;
}

#sns h5 {
  font-family: 'Righteous', cursive;
  margin: 1em 0;
}

#sns a {
  color: black;
}

#sns a:hover {
  color: #9166A9;
}

#github button {
  background: #9166A9;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 1em;
}

#demo button {
  background: black;
  color: #9166A9;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  width: 100%;
}

.icons {
  margin: 3em 0;
}

#skill-set i:hover {
  color: #9166A9;
}

#skill-set p, #skill-set i {
  text-align: center;
}