#navwide {
  background: #9166A9;
  height: 100vh;
}

.brand {
  font-size: 20px;
  color: #9166A9;
}

nav a span {
  font-size: 130%;
  vertical-align: middle;
  font-family: 'Righteous', cursive;
}

.navitem {
  padding: 1em;
}

.navitem * {
  pointer-events: none;
}

.item-img {
  margin: 0;
  width: 100%;
}

.item {
  text-align: center;
  margin-left: -90px;
  font-family: 'Righteous', cursive;
}

a:hover {
  color: white;
}

.navitem:not(:first-child) {
  border-top: 3px solid white;
}

.navitem img {
  margin: 1.2em 0;
}

#contents {
  overflow: auto;
  height: 100vh;
}

#contents h1, #contents h2 {
  font-family: 'Righteous', cursive;
}

#contents h2 {
  border-bottom: 3px solid #9166A9;
  font-size: 400%;
}

#about {
  height: 100vh;
  padding-top: 5%;
}

#about h1 {
  font-size: 500%;
  color: #9166A9;
}

#desc {
  margin: 4% 0;
}

#desc p {
  background: white;
}

#about ul li {
  display: inline-block;
  background: #9166A9;
  border-radius: 2em;
  padding: 0.3em 1em;
  color: white;
  margin: 0 0.5em;
  cursor: default;
}

#about .ulmov li {
  display: inline-block;
  background: #9166A9;
  border-radius: 2em;
  color: white;
  font-size: 12px;
  margin: 1% 0;
}

#contact {
  min-height: 100vh;
  margin-top: 5%;
}

#contact form button {
  background: #9166A9;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

#contact form {
  margin: 2em 0;
}

#contact input, #contact textarea {
  border-radius: 1em;
}

#sns {
  padding: 3em 0;
  text-align: center;
}

#sns h4 {
  font-size: 1.3em;
}

#sns .fa-linkedin, .fa-github-square {
   font-size: 3em;
   color: #9166A9;
}

#sns h5 {
  font-family: 'Righteous', cursive;
  margin: 1em 0;
}

#sns a {
  color: black;
}

#sns a:hover {
  color: #9166A9;
}


#skill-set p {
  font-family: 'Righteous', cursive;
  color: #9166A9;
}

#about h4 {
  font-family: 'Righteous', cursive;
  border-bottom: 3px solid #9166A9;
  padding-bottom: 1em;
  font-size: 1.5em;
}

body {
  background: rgb(241, 241, 241);
}

#skills {
  min-height: 100vh;
}

#skills .icons-dev i {
  font-size: 500%;
}

#skills .icons-basic i {
  font-size: 400%;
}

#skills .icons-basic {
  margin: 2em 0;
}

#skills .icons-extra i {
  font-size: 300%;
}

#skill-set {
  margin: 5em 0;
}

.project-card {
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#trivia {
  background-image: url(../img/projects/react-trivia.gif);
}
#instapets {
  background-image: url(../img/projects/instapets.gif);
}
#weather {
  background-image: url(../img/projects/weather-api.gif);
}
#ecom {
  background-image: url(../img/projects/ecommerce.gif);
}

.demo {
  background: #9166A9;
  color: white;
  width: 40%;
  margin: 0.2em 0;
}

.github {
  background: black;
  color: white;
  width: 40%;
  margin: 0.2em 0;
}

#projects a {
  margin: 0.5em 0.1em;
  width: 50%;
}

#projects h4 {
  font-family: 'Righteous', cursive;
  line-height: 2;
}

#projects span {
  font-size: 0.8em;
}

.project-container {
  background: white;
  padding: 1em;
  border-radius: 1em;
  margin: 1em 2em;
  text-align: center;
}

footer {
  width: 100%;
  background: #9166A9;
  color: white;
  padding: 0.5em 0;
}